html,
body,
.App,
#root {
  height: 100%;
}

body {
  overscroll-behavior: contain;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 12s ease-in-out;
  height: 120px;
  width: 130px;
}

.App-header {
  background-color: #010101;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

$backColor: #fffbe5;
.App-header>button {
  display: inline-block;
  border-radius: 3px;
  padding: 0.5rem 0;
  margin: 0.5rem 1rem;
  width: 11rem;
  background: transparent;
  border: 2px solid $backColor;
  background: $backColor;
  color: black;
  outline: #0a0501;
  font-weight: bold;
}